body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.gallery{
    position: relative;
    width: 1120px;
    height: 630px;
    overflow: hidden;

    border: 3px solid rgb(74 71 68);
    border-radius: 20px;

    & *{
        margin: 0;
    }
    
    display: grid;
    grid-template-columns: 4fr 2fr 0.5fr;
}
.left, .right{
    display: flex;
    flex-direction: column;
}

button{
    position: absolute;
    top: 13px;
    right: 0px;
    padding: 10px 40px;
    background-color: white;
    border: none;
    font-size: 40px;
    font-weight: bold;
}

.color_name{
    font-size: 60px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 30px;
}

.colorchip{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    font-size: 23px;
    font-weight: 500;
}

hr{
    position: absolute;
    width: 50px;
    border: 1px solid black;
    top: 140px;
    left: 40px;
}

.moodwords{
    margin-left: 30px;
    margin-top: 25px;
    & p{
        margin: 7px;
        letter-spacing: 5px;
    }
}

.discription{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.left img{
    margin-bottom: 5px;
    margin-left: 40px;
    width: 150px;
    height: 200px;
    border: 1.5px solid rgb(140 136 131);
    border-radius: 20px;
}
.texture{
    position: absolute;
    top: 110px;
    right: 50px;
}

.title{
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.styling-ideas{
    position: absolute;
    top: 310px;
    right: 80px;
}

.keywords{
    width: 380px;
    position: absolute;
    bottom: 30px;
    right: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 8px;
    & .title{
        grid-row: span 3;
    }
}